{% extends "base.html" %} {% load static %}
{% block titulo %}Inicio{% endblock titulo %}
{% block contenido %}
<!-- ======= Sección de Bienvenida ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div
    class="container position-relative"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <h1>Aprendiendo Hoy,<br />Liderando Mañana</h1>
    <h2>
      Somos un equipo de apasionados por la educación creando recursos para
      aprender y enseñar
    </h2>
    <a href="#" class="btn-get-started">Empezar</a>
  </div>
</section>
<!-- Fin de la Sección de Bienvenida -->

<main id="main">
  <!-- ======= Sección de Acerca de ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Empoderando el Aprendizaje con Colecciones Educativas</h3>
          <p class="fst-italic">
            En nuestro compromiso con la educación, creamos un espacio para
            compartir conocimientos y aprender de manera efectiva.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i> Explora una amplia variedad de
              colecciones educativas.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Accede a recursos de alta
              calidad para tu aprendizaje.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> Colabora y crea tus propias
              colecciones para enseñar y aprender juntos.
            </li>
          </ul>
          <p>
            Únete a nuestra comunidad y forma parte de la revolución educativa.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin de la Sección de Acerca de -->

  <!-- ======= Sección de Estadísticas ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="1232"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Usuarios</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="64"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Colecciones</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="42"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Recursos</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="15"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Colaboradores</p>
      </div>
    </div>
  </div>
</section>
<!-- Fin de la Sección de Estadísticas -->


  <!-- ======= Sección de ¿Por Qué Elegirnos? ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>¿Por Qué Elegirnos?</h3>
          <p>
            En nuestro compromiso con la educación, ofrecemos un entorno enriquecedor para aprender y enseñar. Nuestro objetivo es proporcionar recursos de alta calidad y fomentar la colaboración en la comunidad educativa.
          </p>
          <div class="text-center">
            <a href="acerca.html" class="more-btn"
              >Aprende Más <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-8 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Recursos Educativos de Calidad</h4>
                <p>
                  Accede a recursos de alta calidad que facilitarán tu proceso de aprendizaje y enseñanza.
                </p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Colaboración Comunitaria</h4>
                <p>
                  Fomentamos la colaboración y la creación conjunta de colecciones educativas.
                </p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Experiencia Educativa enriquecedora</h4>
                <p>
                  Nuestra plataforma te brinda una experiencia educativa enriquecedora para aprender y enseñar de manera efectiva.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin .content-->
      </div>
    </div>
  </div>
</section>
<!-- Fin de la Sección ¿Por Qué Elegirnos? -->


  <!-- ======= Sección de Características ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-book-open-line" style="color: #ffbb2c"></i>
          <h3><a href="">Recursos Educativos</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-group-line" style="color: #5578ff"></i>
          <h3><a href="">Comunidad de Aprendizaje</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-share-box-line" style="color: #e80368"></i>
          <h3><a href="">Colaboración en Colecciones</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-user-heart-line" style="color: #e361ff"></i>
          <h3><a href="">Aprendizaje Personalizado</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin de la Sección de Características -->


  <!-- ======= Sección de Colecciones Destacadas ======= -->
<section id="popular-courses" class="courses">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Colecciones</h2>
      <p>Colecciones Populares</p>
    </div>

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/course-1.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            >
              <h4>Tecnología Web</h4>
              <p class="price">$0</p>
            </div>

            <h3><a href="coleccion-detalle.html">Diseño Web</a></h3>
            <p>
              Explora esta colección para aprender sobre diseño web y tecnologías relacionadas.
            </p>
            <div
              class="trainer d-flex justify-content-between align-items-center"
            >
              <div class="trainer-profile d-flex align-items-center">
                <img
                  src="assets/img/trainers/trainer-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <span>Antonio</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;50 &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;65
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del Elemento de Colección-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="course-item">
          <img src="assets/img/course-2.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            >
              <h4>Marketing Digital</h4>
              <p class="price">$0</p>
            </div>

            <h3>
              <a href="coleccion-detalle.html">Optimización en Motores de Búsqueda</a>
            </h3>
            <p>
              Descubre esta colección sobre estrategias de marketing digital y SEO.
            </p>
            <div
              class="trainer d-flex justify-content-between align-items-center"
            >
              <div class="trainer-profile d-flex align-items-center">
                <img
                  src="assets/img/trainers/trainer-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <span>Lana</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;35 &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;42
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del Elemento de Colección-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="course-item">
          <img src="assets/img/course-3.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            >
              <h4>Escritura de Contenido</h4>
              <p class="price">$0</p>
            </div>

            <h3><a href="coleccion-detalle.html">Redacción de Contenidos</a></h3>
            <p>
              Explora esta colección sobre técnicas de redacción y creación de contenidos efectivos.
            </p>
            <div
              class="trainer d-flex justify-content-between align-items-center"
            >
              <div class="trainer-profile d-flex align-items-center">
                <img
                  src="assets/img/trainers/trainer-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <span>Brandon</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;20 &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;85
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del Elemento de Colección-->
    </div>
  </div>
</section>
<!-- Fin de la Sección de Colecciones Populares -->


  <!-- ======= Sección de Educadores ======= -->
<section id="trainers" class="trainers">
  <div class="container" data-aos="fade-up">
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-1.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>Antonio Rodríguez</h4>
            <span>Tecnología Web</span>
            <p>
              Experto en desarrollo web y tecnologías relacionadas. Conoce sus consejos y guías en nuestras colecciones.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-2.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>Lana Smith</h4>
            <span>Marketing Digital</span>
            <p>
              Experta en estrategias de marketing digital y SEO. Descubre sus conocimientos en nuestras colecciones educativas.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img
            src="assets/img/trainers/trainer-3.jpg"
            class="img-fluid"
            alt=""
          />
          <div class="member-content">
            <h4>Brandon Johnson</h4>
            <span>Escritura de Contenido</span>
            <p>
              Especialista en redacción de contenidos efectivos. Descubre sus técnicas en nuestras colecciones educativas.
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin de la Sección de Educadores -->

</main>
<!-- End #main -->
{% endblock contenido %}
