{% extends "base.html" %}

<!--Carga archivo estáticos-->
{% load static %}

<!--Título de la página actual-->
{% block title%}Categorias{%endblock title %}

<!--Ploque de estilos personalizados -->
{% block links_custom %} {% endblock links_custom %}

<!--Bloque del contenido principal-->
{% block contenido %}
<!-- ======= Sección de Bienvenida ======= -->
<section class="d-flex justify-content-center align-items-center mt-5">
  {% if categoria %}
    <h1> <img src="{{categoria.icono.url}}" alt="" width="35px"> Colecciones de {{categoria.nombre}}</h1>
    {% else %}
    <h1>Descubre nuestras colecciones</h1>
    {% endif %}
</section>
<!-- Fin de la Sección de Bienvenida -->
<!-- ======= Sección de Características ======= -->
<section id="features" class="features">
  <div class="container-fluid" data-aos="fade-up">
    
    <div class="container-fluid">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-success"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        <i class="bi bi-bookmark-plus-fill"></i> Nueva colección
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Agrega nueva colección
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="form row needs-validation" method="post" action="{% url 'cards:create-collection' %}" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="nombre">Nombre de la Colección</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                    <span class="invalid-feedback">
                        Este campo es requerido.
                    </span>
                </div>
                <div class="form-group mb-3">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                    <span class="invalid-feedback">
                        Este campo es requerido.
                    </span>
                </div>
                <div class="form-group mb-3">
                    <label for="categoria">Categoría</label>
                    <select class="form-select" id="categoria" name="categoria" required>
                        <option value="" disabled selected>Selecciona una categoría</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                    <span class="invalid-feedback">
                        Debes seleccionar una categoría.
                    </span>
                </div>
                <!-- Campo de miniatura -->
                <div class="form-group mb-3">
                    <label for="miniatura">Miniatura</label>
                    <input type="file" class="form-control" id="miniatura" name="miniatura" required>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-floppy-fill"></i> Guardar
                    </button>
                </div>
            </form>
            
              
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row gap-4 mt-3 justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="100"
    >
      {% for collection in colecciones %}
      <div class="card" style="width: 18rem;">
        <!-- Contenedor de la imagen con una relación de aspecto 16:9 -->
        <div class="ratio ratio-4x3 card-img-top">
            <img src="{{ collection.miniatura.url }}" class="img-fluid" alt="{{ collection.nombre }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ collection.nombre }}</h5>
            <p class="card-text">{{ collection.descripcion }}</p>
            <a href="#" class="stretched-link"></a>
        </div>
    </div>
    
      <!-- Tarjeta de categorías con tarjeta estándar de Bootstrap -->
      {% endfor %}
    </div>
  </div>
</section>
<!-- Fin de la Sección de Características -->
{% endblock contenido %}

<!-- Bloque de los scripts custom -->
{% block custom_scripts %}
<script src="{% static 'bootstrap/js/formValidation.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#icono").change(function () {
      var input = this;
      var preview = $("#iconoPreview")[0];

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          preview.src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
      } else {
        preview.src = "";
      }
    });
  });
</script>
{% endblock custom_scripts %}
